<%- include partials/header.ejs %>
  <div class="container">
    <div class="jumbotron landing text-center">
      <h1>Biz Dir</h1>
      <p>Welcome to Biz Dir.</p>
      <p>Here you will find a list of pouplar business created by users like you!</p>
      <p>
        <a class="btn btn-primary btn-lg" href="/directory">See Directory</a>
        <a class="btn btn-success btn-lg" href="/users/signup">Sign Up</a>
      </p>
    </div>
  </div>
<%- include partials/footer.ejs %>
