/* ==================== Home ==================== */

.landing {
  background-image: url("/images/landing.jpg");
  color: #fff;
  min-height: 640px;
}
.landing>h1 {
  margin-bottom: 60px;
}
.landing>p>a.btn {
  margin-top: 60px;
  margin-left: 7px;
  margin-right: 7px;
}


/* ==================== Directory ==================== */

.about-biz {
  font-weight: 500;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
