<%- include ../partials/header.ejs %>
  <div class="container">
    <h1>Login</h1>
    <hr>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <a href="/" class="btn btn-default">Cancel</a>
        <br>
        <br>
        <form action="/users/login" method="post">
          <div class="form-group">
            <label for="username">*Username</label>
            <input type="text" class="form-control" name="username" id="username" placeholder="Username for login" required>
          </div>
          <div class="form-group">
            <label for="password">*Password</label>
            <input type="password" class="form-control" name="password" id="password" placeholder="Password for login" required>
          </div>
          <% if (show_alert) { %>
          <div class="alert alert-dismissible alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Oh snap!</strong> Invalid credentials. Please try again.
          </div>
          <% } %>
          <button type="submit" class="btn btn-success">Submit</button>
        </form>
      </div>
    </div>
  </div> <!-- container -->
<%- include ../partials/footer.ejs %>
